:root {
  --primari-color: #2196f3;
  --logo-color: #000000;
  --header-color: #212121;
  --secondari-color: #2f303a;
  --foter-color: #2f303a;
  --navigation-link-color: #757575;
  --background-color: #ffffff;
  --accent-color: #f5f4fa;
  --common-white: #e5e5e5;
  --main-font: "Raleway", sans-serif;
  --main-fonts: "Roboto", sans-serif;
  --title-size: 44px;
  --title1-size: 36px;
  --logo-size: 26px;
  --col-size: 18px;
  --button-size: 16px;
  --navigation-size: 14px;
}

.logo {
  font-size: var(--logo-size);
  color: var(--background-color);
  margin-right: 90px;
  font-weight: 700;
  line-height: 1.38;
  text-decoration: none;
  font-family:'Raleway';
  
}


.logo-s {
  color: var(--primari-color);
  
}
.logo-studio {
  color: var(--logo-color);
  

}
.projekts-dekor{
text-decoration: none;
}


.wraper {
  background-color: var(--background-color);
}

.list {
  list-style: none;
  padding: 0%;
  font-family: inherit;

  
}
 body {
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 0.03em;
   color: var(--header-color);
   background-color: var(--common-whiter);
  
 }


.header {
  background-color: var(--background-color);
  width: 1600px;
  margin: 0 auto;
  padding: 32px 215px;
  display: flex;
  align-items: center;
  
  }
 

.base-header {
  color: var(--header-color);
  text-decoration: none ;
 
}

.current {
color: var(--primari-color);
text-decoration: none;
}


.base-header:hover,
.base-header:focus {
  color  :var(--primari-color)
  
}

.navigation-link {
  margin-right: 50px;
  display: flex;
  line-height: 16px;
  font-style: normal;
}


.navigation-item {
  margin-right: 50px;
  display: flex;
  line-height: 16px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--navigation-link-color);
  text-decoration: none;
  
}
.navigation-item:hover {
  color: var(--primari-color);
}

.navigation {
  font-family: var(--main-fonts);
  font-size: var(--navigation-size);
  margin-right: 330px;
  
}


.hero {
  background-color: var(--foter-color);
  text-decoration: none;
  color: var(--background-color);
  padding: 200px 452px 280px;
  align-items: center;
  text-transform: uppercase ;
}

.hero-h {
  font-size:var(--title-size);
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
}

.hero-btn {
  background-color: var(--primari-color);
  border: none;
  padding: 10px 32px;
  color: var(--background-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  
}

.hero-btn:focus {
  cursor: pointer;
  background-color: aqua;
color: var(--logo-color) ;
}

.main-section-h {
  font-size: var(--navigation-size);
  color: var(--header-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
 
}
.main-section-p {
  font-size: var(--navigation-size);
  color: var(--navigation-link-color);
  font-weight: 400;
  line-height: 1.71;

}
.section-job-h {
  font-size: var(--title1-size);
  color: var(--header-color);
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  
}
.section-font{
  background-color: var(--common-white)  ;
}

.section-job-p {
  font-size: var(--button-size);
  color: var(--navigation-link-color);
  font-weight: 400;
  line-height: 1.18;

  
}
.comand {
  font-size: var(--button-size);
  color: var(--header-color);
  font-weight: 500;
  line-height: 1.18;
 
}
.foter {
  background-color: var(--foter-color);
  width: 1600px;
  padding: 140px 1154px 90px 215px;
  color: var(--background-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.addres {
  color: var(--background-color);
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}

/*Портфоліо*/
.list-btn:hover,
.list-btn:focus {
  background-color: var(--primari-color);
  color: var(--header-color);
  color: var(--background-color);
}
.list-btn {
  font-weight: 500;
  line-height: 1.62;
  cursor: pointer;
   
}

.projekts {
  color: var(--header-color);
  font-size: var(--col-size);
  text-decoration: none;
}

.projekts-p {
  color: var(--navigation-link-color);
  font-size: var(--button-size);
  font-weight: 400;
  line-height: 1.87;
  text-decoration: none;
  
}
.projekts-h {
  font-weight: 700;
  line-height: 2;
  color: var(--header-color) ;
  text-decoration: none;
 
}

.addres-color {
  color: #ffffff;
  opacity: 0.60;
  text-decoration: none;
  
}
.addres-color:hover ,
.addres-color:focus{
color: var(--primari-color);
}
